 .lt_sort{
   height: 30px;
   line-height: 30px;
   background-color: #EEEEEE;
 }

  .lt_sort a{
  width: 25%;
  float: left;
  color: #666;
  text-align: center;
  font-size: 12px;
}
.lt_sort a.current{
  color: orange;
}
.lt_sort a i{
  margin-left: 5px;
}